@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body{
    width: auto;
    height: 100vh;
    background-image: url(https://t3.ftcdn.net/jpg/04/11/58/62/240_F_411586222_duDI8LJzWNzVR2XHdrwCQ2mV5hzPlYKE.jpg);
  background-size:cover;
  background-position: center;
   font-family: "Nunito Sans", sans-serif;
    }

#list_items {
    list-style-type: none;
    font-size: medium;
    letter-spacing: 1px;
    }

#list_items a{
    color: rgb(12, 12, 12);
    float: right;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
}

.logo{
    width: 140px;
    padding: 5px 10px;
     }

     h1{
        font-size: 60px;
        margin-top: 20px;
        color: blue;
        margin-top: 10%;
        text-align: center;
          }
    
      p{
        font-size: 45px;
        margin-top: 15px;
        color: rgb(93, 93, 216);
        text-align: center;
      }
