body{
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  background-color: rgb(204, 234, 248);
   }
  .navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    }
.navbar-text{
  float: left;
}
.navbar a{
  color: rgb(24, 23, 23);
  text-decoration: none;
  text-align: right;
   letter-spacing: 2px;
  padding: 10px;
  float: left;
 }
.navbar a:hover{
  background-color: rgb(200, 200, 206);
  border-radius: 50%;
 }
.logo{
  width: 100px;
  border-radius: 0;
}
.container-heading {
  height: 100%;
   background-repeat: no-repeat;
   margin: 0;
   background-size: cover;
   padding-top: 220px;
   padding-bottom: 220px;
  color: #0c8d62;
}
.container-about{
  height: 100%;
  padding-top: 220px;
  padding-bottom: 250px;
  
}
.container-about h2{
  text-align: center;
}
.container-about p{
  text-align: left;
  margin-left: 10px;
}
.container-about ol{
  text-align: left;
}
container-learn-more{
  height: 100%;
  }
  container-learn-more h1{
    text-align: center;
}
  
