@import url('https://fonts.googleapis.com/css?family=Nunito Sans|Lato:300');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";

.body{
  background-color: #0ba0e0;
  font-family: "Nunito Sans", sans-serif;
}

.background{
  background-color: #cfebf7;
  
}

.nav_list{
  list-style-type: none;
  text-align: right;
  padding: 20px;
  margin: 2;
 
}

a{
  text-decoration-line: none;
   
}

ul li{
  display: inline;
  padding: 10px;
}

.page_1 {
   color: red;
  text-align: center;
}
.page_2 {
   color: red;
  text-align: center;
}

.page_3 {
   color: red;
  text-align: center;
}

.page_4 {
   color: red;
  text-align: center;
}

.sub_headings{
  color: green;
}

.solgon{
  color: blue;
  text-align: center;
}

.pictures img{
  width: 200px;
  height: 200px;
}
